@media only screen and (max-width: 767px) {

/*Homepage*/

    .moon{
     	height: 30%;
        width: 40%;
    }

    .koolit-avatar {
        width: 40%;
        margin-top: 20%;
    }

    .koolit-banner {
        margin-top: 8% !important;
    }

    .koolit-banner h1 {
    	font-size: 36px;
    }

    .koolit-banner hr {
    	border-top: 3px dotted white;
    }

    .koolit-banner p {
     	font-size: 60%;
    }

    .social-links {
    	width: 75%;
    }

    .social-links i{
    	font-size: 25px;
    }

    .ppc-icon-text{
        font-size: 12px !important;
    }

/*AboutMe*/

    #aboutPage {
        margin-top: 15%;
        display: block !important;
        margin-left: 5%;
    }

    div.item{
        margin: 5% !important;
    }

    div.item.aboutme i p {
        font-size: 14px !important;
        width: 600% !important;
        margin-left: -250% !important;
    }

    div.item i {
        font-size: 20px !important;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

/*Projects*/

    .Grid{
        width: 20rem !important;
        margin-top: 10% !important;
    }

    .Grid-row{
        flex-direction: column !important;
        width: 105%;
        margin: 0% -8% !important;
    }

    .Card {
      flex: 0 1 17rem !important;
      padding-bottom: 0% !important;
      width: 100% !important;
      margin: 5%;
    }

    .Gallery-header {
      top: 0%;
    }

    .projects_top_header, .projects_header, .Gallery-images, .projects_text {
    	width: 90%;
    }

    .Gallery-close {
        top: 5rem !important;
        opacity: 1 !important;
    }

/*Resume*/

    .resume_column_left {
        margin-top: 15% !important;
    }

/*PPC*/

    .gallery-img-container h2 p{
        font-size: 15px !important;
    }

    .gallery-img-container h2{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 5%;
    }

    .gallery-img-container h2 span, p{
        margin-left: auto !important;
        margin-top: 10px !important;
    }

    .slideshow-button, .fullscreen-button {
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        position: relative !important;
        font-weight: bold;
    }

    #carousel-dot-container {
        margin-top: 2%;
    }

    .fullscreen-button {
        visibility: hidden;
    }

    .slideshow-button {
        left: 30% !important;
    }

    .gallery-img {
        height: 300px !important;
    }

    .ppc-page-header {
        font-size: 36px;
        margin-top: 50px;
        line-height: 1;
    }

    .slider-img {
        width: 7.5% !important;
        height: 28px !important;
    }

/*Contact*/

    .contact-grid {
        font-size: 50%;
        margin-top: 25% !important;
    }

    .mdl-list__item {
        font-size: 90%;
    }

    .contact-list i {
      font-size: 24px !important;
      padding-right: 1rem !important;
    }

    .spaceCabbage{
     	height: 27% !important;
    	width: 50% !important;
    	right: -2% !important;
    	transform: rotate(330deg);
    }
}
