@media only screen and (min-width: 768px) and (max-width: 1024px) {

/*Homepage*/

    .moon{
     	height: 40%;
        width: 40%;
    }

    .koolit-avatar {
        width: 30%;
        margin-top: 15%;
    }

    .koolit-banner h1 {
    	font-size: 48px;
    }

    .koolit-banner hr {
    	border-top: 4px dotted white;
    }

    .koolit-banner p {
     	font-size: 16px;
    }

    .social-links {
    	width: 50%;
    }

    .social-links i{
    	font-size: 35px;
    }

/*AboutMe*/

    #aboutPage {
        margin-top: 5%;
        margin-left: 5%;
    }

    div.item {
        flex-basis: 45% !important;
    }


/*Projects*/

    .Gallery-header {
      top: 0%;
    }

    .projects_top_header, .projects_header, .Gallery-images, .projects_text {
    	width: 90%;
    }

/*Resume*/


/*PPC*/


/*Test*/

}
