.header-color {
	background: #40E0D0;  /* fallback for old browsers */
	background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-color img {
	object-fit: cover;
	margin-top: 0px;
	width: 20%;
	z-index: 4;
}

.logo-container{
	margin: 200px;
}

.mdl-layout__header-row .mdl-navigation__link {
	font-weight: bold;
	font-size: 135%;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
	font-weight: bold;
	font-size: 125%;
}
/* homePage css*/

.landing-grid {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.projectTabs{
	background: #40E0D0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.koolit-avatar {
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 180px;
    object-fit: cover;
    margin-top: 5em;
    box-shadow: 0px 10px 18px 10px rgba(0,0,0,5);
}

.koolit-banner {
	background-color: black;
    width: 80%;
	opacity: .7;
    border-radius: 15px;
    margin: auto;
    position: relative;
    z-index: 3;
}

.koolit-banner h1 {
	font-size: 65px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.koolit-banner hr {
	border-top: 5px dotted white;
	width: 50%;
	margin: auto;
}

.koolit-banner p {
 	font-size: 20px;
 	color: white;
 	padding-top: 2%;
 	text-align: center;
}

.social-links {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto
}

.social-links i{
	color: white;
	font-size: 35px;
	padding: 8px;
	font-weight: bold;
}

.koolit-menubar-logo, .koolit-avatar, .koolit-hamburgermenu-logo {
  position: relative;
  z-index: 3;
}

.moon{
	position: absolute;
 	height: 40vh;
	width: 40vh;
	right: 0%;
	z-index: 3;
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-containers{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
 background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
 position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  	z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;

}

.clouds{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

   -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 50s linear infinite;
}

/* projectsPage css */
.projects-grid {
	display: grid;
  	grid-template-columns: repeat(3, 30%);
  	grid-template-rows: repeat(2, 50%);
	background: #40E0D0;  /* fallback for old browsers */
	background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 100%;
	padding-left: 5%;
}

.projects-card{
	position: fixed;
	margin-top: 10%;
	margin-bottom: 10%;
	align-self: center;
	minWidth: auto;
	border-radius: 15px;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* about page */
.subtopic {
margin:10px 10px 30px 10px !important;
}

.subtopic p {
font-size: var(--fontsize-p);
margin: 10px;
}

.subtopic h1,h2,h3,h4,p{
margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 35%);
	width: 100%;
  	padding: 2%;
  	padding-left: 10%;
  	box-sizing: border-box;
  	height: 100%;
  	text-align: -webkit-center;
	background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 5% 5%;
  box-shadow: 0 20px 30px rgba(0,0,0,.2);
  line-height: 0;
  border-radius: 15%;
}

.box > img {
  width: 150%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: .5s;
}

.box > span {
  font-size: 175%;
  font-weight: bold;
  color: white;
  display: block;
  text-align: -webkit-center;
  height: 10vh;
  line-height: 2.6;
  background: black;
  opacity: 0.5;
}

.box:hover { flex: 1 1 45%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

/* test page */
.test-page {
	background: linear-gradient(to left, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.demo {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

/* accordion css */
.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
    background-color: transparent;
    color: rgb(63,81,181);
    cursor: pointer;
    padding: 18px;
    width: 89%;
    text-align: left;
    border: none;
    font-weight: bold;
}

.accordion__button:hover {
    background-color: lightgrey;
    opacity: 0.3;
    border-radius: 5px;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

.accordion__panel {
    padding: 10%;
    animation: fadein 0.35s ease-in;
}
